<!DOCTYPE html>
<html lang ="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <title>Subscription Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
</head>

<body>

  <header>
    <h2 class="logo">FinTracker</h2>
    <nav class="navigation">
    <a href="about">Home</a>
    <a href="subs">Subscription</a>
    <a href="login">
        <button class="btnLogin-popup">Login</button>
      </a>
      <a href="signup">
        <button class="btnLogin-popup">SIGNUP</button>
      </a>
   </nav>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">



    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title subf">BASIC</h5>
          <p class="card-text">This subscription level offers basic features such as account tracking, expense 
            categorization, and budgeting tools. This is the best package for people with lower budgets.<ul> The price start at ONLY £10/ month. Get a free 14-days free trial now.</ul></p>
            
          <button href="" class="SubscriptionBtn">Select £10/month</button>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title subf">STANDARD</h5>
          <p class="card-text">The standard subscription level offers everything form the basic with additional features such as investment tracking and reporting,
             as well as more advanced budgeting tools.<ul> The price start at ONLY £25/ month. Get a free 14-days free trial now.</ul></p>
          <button href="" class="SubscriptionBtn">Select £25/month</button>
        </div>
      </div>
    </div>



    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title subf">PREMIUM</h5>
          <p class="card-text">This subscription level offer everything from standard but with even more advanced features such as 
            tax tracking, bill reminders, and financial advice from professionals.
            <ul> The price start at ONLY £35/ month. Get a free 14-days free trial now.</ul></p>
          <button href="" class="SubscriptionBtn">Select £35/month</button>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title subf">ULTIMATE</h5>
          <p class="card-text">The ultimate subscription leve offers all of the features of the lower tiers, 
            plus personalized financial planning services and access to exclusive investment opportunities.
            <ul> The price start at ONLY £50/ month. Get a free 14-days free trial now.</ul></p>
          <button href="" class="SubscriptionBtn">Select £50/month</button>
        </div>
      </div>
    </div>
  </div>
</div>
 


<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
</section>
 </body>